/* .wrapperFilter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    margin: 0;
}

.labelFilter {
    display: block;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 5px;
}

.inputFilter {
    width: 150px;
    margin-bottom: 25px;
    font-weight: 300;
    border-radius: 3px;
    border: 1px solid black;
} */

.filterContainer {
    display: flex;
    flex-direction: column;
}

.filter {
    width: 100px
}

.label {
    margin-bottom: 5px;
}